ExampleContracts/StateMachines/CrowdFunding.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="CrowdFunding"
    targetNamespace="https://lab.tagroot.io/Downloads/CrowdFunding.xsd"
    elementFormDefault="qualified"
    xmlns="https://lab.tagroot.io/Downloads/CrowdFunding.xsd"
    xmlns:mstns="https://lab.tagroot.io/Downloads/CrowdFunding.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Test schema used in example contract. -->
	<!-- Note: Schema is made available via download using the namespace URL. -->

	<xs:element name="Release" type="xs:decimal"/>
	<xs:element name="Start" type="Empty"/>

	<xs:complexType name="Empty"/>
</xs:schema>
