ExampleContracts/Voting/OpenVote.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
					 targetNamespace='https://paiwise.tagroot.io/Schema/OpenVote.xsd'
					 xmlns='https://paiwise.tagroot.io/Schema/OpenVote.xsd'
					 elementFormDefault='qualified'>

	<xs:element name='Ballot'>
		<xs:complexType>
			<xs:sequence>
				<xs:element name='Option' minOccurs='2' maxOccurs='unbounded'>
					<xs:complexType>
						<xs:attribute name='value' type='xs:string' use='required'/>
						<xs:attribute name='parameter' type='xs:string' use='required'/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>