ExampleContracts/Memberships/Simple/SimpleOrganization.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="SimpleOrganization"
    targetNamespace="https://lab.tagroot.io/Downloads/SimpleOrganization.xsd"
    elementFormDefault="qualified"
    xmlns="https://lab.tagroot.io/Downloads/SimpleOrganization.xsd"
    xmlns:mstns="https://lab.tagroot.io/Downloads/SimpleOrganization.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Test schema used in example contract. -->
	<!-- Note: Schema is made available via download using the namespace URL. -->

	<xs:element name="Activate" type="Empty"/>
	<xs:element name="Deactivate" type="Empty"/>
	<xs:element name="Close" type="Empty"/>
	<xs:element name="Membership" type="Empty"/>
	
	<xs:complexType name="Empty"/>
</xs:schema>
